*{margin: 0; padding: 0; box-sizing: border-box; text-decoration: none; color:inherit}
body{display: flex; flex-direction: column; align-items: center;}
ul,li{list-style: none;}


.container a{
    display: block;
}
.container>ul{
    display: flex;
}
.container>ul>li{
    position: relative;
}
.container>ul>li a{
    line-height: 50px;
    text-align: center;
    background-color: #888;
    color: aliceblue;
}
.container>ul>li a:hover{
    background-color: #c7c7c7;
    transition: .3s;
}
.container>ul>li>a{    
    height: 50px;
    line-height: 50px;
    padding: 0 50px;
    background-color: #a4a3a3;
}
.container>ul>li:hover>ul{
    display: block;
}
.container>ul>li>ul{
    position: absolute;
    left: 0;
    right: 0;
    display: none;
}





.container2{
    margin-top:300px;
}
.container2 a{
    display: block;
}
.container2>ul{
    display: flex;
}
.container2>ul>li>a{
    width: 150px;
    line-height:50px;
    background-color: #a4a3a3;
    text-align: center;
}
.container2>ul>li>ul{
    background-color: #a4a3a3;
    line-height: 50px;
    width: 150px;
    text-align: center;
    display: none;
}
.container2>ul>li>a:hover{
    background-color: #888;
}
.container2>ul>li>ul:hover{
    background-color:#888;
}
.container2>ul>li:hover {
    display: block;
}